
.position {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin-left: 20px;
    position: relative;
    top: 20px;
}
.position:hover{
    width: 100px;
    height: 100px;
    background-color:rebeccapurple ;
}
